<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="restaurantBean" class="xyz.shebang.springcore.Restaurant">
		<property name="WaitersList">
			<list>
				<value>Mr. aaa</value>
				<value>Mr. bbb</value>
				<value>Mr. ccc</value>
				<value>Mr. ddd</value>
			
			</list>
		
		</property>
	</bean>

	<bean id="teaBean" class="xyz.shebang.springcore.Tea">
 	</bean>

</beans>